<!DOCTYPE html> 
<html lang='en-US' xml:lang='en-US' xmlns='http://www.w3.org/1999/xhtml'> 
  <head>
    <title>No Bull DNS Tools</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
      body {
        font-family: Gotham, 'Bitstream Vera Sans', Whitney, Verdana, Arial, sans-serif;
        font-size: 14px;
      }
      div#form {
        width: 32em;
        margin: 0 auto;
      }
      div#form input[type="text"] { width: 20em; }
      h1 {
        text-align: center;
      }
      h1.explicit {
        position: absolute;
        text-indent: -999em;
      }
      form, select, input, pre { font-family: 'Bitstream Vera Sans Mono', Monaco, 'Andale Mono', Courier, 'Courier New', monospace; }
      form { margin-bottom: 0.2em; }
      div#results {
        width: 50em;
        margin: 1em auto 0;
      }        
      h2 {
        margin: 0;
        text-align: left;
      }
      pre {
        margin: 0;
        border: 1px solid black;
        overflow: auto;
        padding: 1em;
      }
      p { margin-top: 2em; text-align: center; }
      a { color: blue; }
    </style>
    <script type="text/javascript">
      function $(element) { return document.getElementById(element); }
      function v(element) { return $(element).value; }
      function go() {
        var array = new Array();
        for (var i = 0; i < arguments.length; ++i) {
          array.push(arguments[i]);
        }
        window.location = '/' + array.join('/');
        return false;
      }
    </script>
  </head>
  <body>
    <h1>No Bull DNS Tools</h1>
    <h1 class="explicit">No Bullshit DNS Tools</h1>
    <div id="form">
      <form onsubmit="return go('dig', v('type'), v('dig'))">
        $ dig
        <select id="type">
          <% DNS_TYPES.each do |t| %>
            <% if @type == t %>
              <option selected="selected"><%= t %></option>
            <% else %>
              <option><%= t %></option>
            <% end %>
          <% end %>
        </select>
        <input id="dig" type="text" value="<%= @hostname && @hostname !~ IP_REGEXP ? @hostname : nil %>" />
        <input type="submit" value="execute" />
      </form>
      <form onsubmit="return go('lookup', v('lookup'))">
        <label for="lookup">$ nslookup</label>
        <input id="lookup" type="text" value="<%= @hostname && @hostname !~ IP_REGEXP ? @hostname : nil %>" />
        <input type="submit" value="execute" />
      </form>
      <form onsubmit="return go('reverse', v('reverse'))">
        <label for="reverse">$ dig -x</label>
        <input id="reverse" type="text" value="<%= @hostname && @hostname =~ IP_REGEXP ? @hostname : nil %>" />
        <input type="submit" value="execute" />
      </form>
      <form onsubmit="return go('whois', v('whois'))">
        <label for="whois">$ whois</label>
        <input id="whois" type="text" value="<%= @hostname %>" />
        <input type="submit" value="execute" />
      </form>
      <form onsubmit="return go('headers', v('headers'))">
        <label for="headers">$ curl -I http://</label>
        <input id="headers" type="text" value="<%= @hostname %>" />
        <input type="submit" value="execute" />
      </form>
    </div>
    <% if @output && @output.length > 0 %>
      <div id="results">
        <h2>Results</h2>
        <pre><%= @output %></pre>
      </div>
    <% end %>
    <p>
      Built by <a href="http://norbauerinc.com">Norbauer</a> &bull;
      Hosted by <a href="http://heroku.com">Heroku</a> &bull;
      Code on <a href="http://github.com/norbauer/dns-tools">Github</a>
    </p>
  </body>
</html>
